body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    padding: 8px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 4px;
}

.search-bar input[type="text"] {
    color: #b0b0b0;
}









